<html>
<head>
<meta charset="UTF-8">
</head>


<form method="POST" action="/productos">
	Alta de producto <br /> Nombre: <input type="text" name="nombre">
	<br /> Descripcion: <input type="text" name="descripcion"><br />
	<input type="submit" />
</form>

<table>

	<tr>
		<th>Nombre
		</td>
		<th>Descripción
		</td>
	</tr>
	{{#each productos}}
	<tr>
		<td>{{nombre}}</td>
		<td>{{this.descripcion}}</td>
		<td><a href="/productos/{{id}}"> detalle </a></td>
	</tr>
	{{/each}}


</table>

</html>