<html>
<head>
	<meta charset="UTF-8">
</head>

<table>

	<tr>
		<td>Nombre</td>
		<td>{{prod.nombre}}</td>
	</tr>
	<tr>
		<td>Descripción</td>
		<td>{{prod.descripcion}}</td>
	</tr>

</table>

</html>
